<div style="margin: 15px;" class="row">
  <div class="col">
    <form [formGroup]="recipeForm">
      <div class="row">
        <div class="col">
          <button [disabled]="recipeForm.invalid"  type="submit" class="btn btn-success" (click)="onSubmit()" >Save</button>
          <button type="button " class="btn btn-danger" (click)="onCancel()" >Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name" type="text" id="name" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input formControlName="imagePath" type="text" id="imagePath" class="form-control" #imagePath/>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="imagePath">Image</label>
              <img class="img-fluid" [src]="imagePath.value">
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col">
          <img class="img-fluid;" src="" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              rows="6"
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col" formArrayName="ingredients">
          <div
          *ngFor="let item of recipeForm.get('ingredients')['controls']; let i=index"
          [formGroupName]="i"
           class="row"
           style="margin-top: 8px;">
            <div class="col-8">
              <label for="name">Name</label>
              <input formControlName="name" type="text" class="form-control" />
            </div>
            <div class="col-2">
              <div class="row">
                <label for="amount">Amount</label>
                <input formControlName="amount" type="number" class="form-control" />
              </div>
            </div>
            <div class="col-2">
              <button type="button" (click)="onDeleteIngredient(i)" class="btn btn-danger">X</button>
            </div>
          </div>
        <div class="row" style="margin-top: 8px;">
            <div class="col">
              <button type="button" class="btn btn-success" (click)="onAddIngredient()" >Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
