<div style="margin: 15px;" class="row">
  <div class="col">
    <form>
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-success">Save</button>
          <button type="button " class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img class="img-fluid;" src="" alt="" />
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              rows="6"
              type="text"
              id="description"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-8">
              <label for="name">Name</label>
              <input type="text" class="form-control" />
            </div>
            <div class="col-2">
              <div class="row">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" />
              </div>
            </div>
            <div class="col-2">
              <button type="text" class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
