<div>
    <img
      src="{{ recipe.imagePath }}"
      alt="{{ recipe.name }}"
      class="img-fluid"
    />
</div>
<div>
    <h2>{{ recipe.name }}</h2>
    <div>
      <button type="button" id="dropdownMenuButton">
          Manage Recipe
    </button>
        <div>
          <a (click)=onAddToShoppingList()>Ingredients to shopping List</a>
          <a (click)="onEditRecipe()" >Edit Recipe</a>
          <a (click)="onDeleteRecipe()" >Delete Recipe</a>
        </div>
  </div>
</div>
<div>
  <div>
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div>
  <div>
      <h4>Ingredients</h4>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} - {{ingredient.amount}}</li>
      </ul>
  </div>
</div>
