<div class="container">
    <div class="row">
        <div class="col-md-5">
            <app-recipe-list
            (RecipeWasSelected)="selectedRecipe = $event">
            </app-recipe-list>
        </div>
        <div class="col-md-7">
            <app-recipe-detail *ngIf="selectedRecipe; else infoText"
            [recipe]="selectedRecipe"></app-recipe-detail>
            <ng-template #infoText>
              <app-nz-demo-spin-tip></app-nz-demo-spin-tip>
              <!-- <mat-spinner></mat-spinner> -->
            </ng-template>
        </div>
    </div>
</div>
