<div style="margin: 10px;" class="row">
  <div class="col"><!-- Make a reference to this html element and pass it to the function -->
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-row">
        <div class="col-8">
          <div class="form-group">
            <label for="name">Name</label>
            <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
            />
            <!-- The "name" is what will be used in the component to access the value -->
            <!-- ngModel registers this as a formControl in the component -->
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            [pattern]="'^[1-9]+[0-9]*$'"/><!-- The name is what will be used in the component to access the value -->
          </div>
        </div>
      </div>
      <div class="container">
        <div class="clearfix">
          <div class="btn-group inline col">
            <button [disabled]="f.invalid" type="submit" class="btn btn-success">{{ editMode ? "Update" : "Add" }}</button>
            <button *ngIf="editMode===true"  type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
            <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
          </div>
        </div>
      </div>
    </form>
    <hr>
  </div>
</div>
